
Find a donor <br/>

<form action=/donors/0 method="get">

First name: <input type="text" name="person[given_name]"><br>
Last name: <input type="text" name="person[family_name]"><br>
Zipcode: <input type="text" name="person[postal_code]">
  
  
  
  
  
  <input type="submit" value="Submit">




</form>